@import "tailwindcss";
@source inline("ps-4");
@source inline("ps-8");
@source inline("ps-12");
@plugin "daisyui" {
    themes: all;
    logs: false;
}

/* Default uses grid, this does not play well with array-containing fieldsets */
.fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Always wrap text in fieldset labels to avoid weird display with settings (long descriptions) */
.fieldset > .label {
    white-space: normal;
}

/* Remove outline everywhere, looks weird on smaller inputs/join-items */
input, select, textarea, label {
    --tw-outline-style: none !important;
    outline-style: none !important;
}

/* Better support for list dividers (nested & not) */
.list {
    .list-row {
        &::after {
            content: none;
        }

        &:not(:last-of-type) {
            &::after {
                content: "";
            }
        }
    }
}
