name: Cleanup packages

on:
  workflow_dispatch:

permissions:
  contents: read

env:
  REGISTRY: ghcr.io

jobs:
  checks:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/delete-package-versions@v5
        with:
          package-name: "zigbee2mqtt-windfront"
          package-type: "container"
          min-versions-to-keep: 50
          delete-only-untagged-versions: "true"
