name: Build and Publish Storybook to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"

      - run: npm ci

      - run: npm run build-storybook

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: storybook-static

      - id: deploy
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
